<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-UA-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/style3.css" rel="stylesheet">
  <title>ColeSel</title>
</head>

<body>
  {% include "header_component.html" %}

  <main>
    <aside>
      <iframe width="757" height="426" src="https://www.youtube.com/embed/-4EuVTDB_NE"
        title="ENERGISA | A importância da coleta seletiva"  ></iframe>

    </aside>

  </main>
</body>

</html>