<style>
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#title {
    flex-direction: column;
    line-height: 10px;

}

#title > h1 {
    font-weight: 10px;
    font-size: 60px;
}

header li {
    display: inline-block;
    margin: 20px;

}

header a {
    color: white;
    font-family: comic sans ms;
}

header a:hover {
    color: rgb(1, 70, 7);
    transition: 0.3s all;
}
</style>
<header>
    <div id="title">
      <h1>Cole</h1>
      <h1>Sel</h1>
    </div>

    <ul>
      <a href="/"><li>Início</li></a>
      <a href="/services"><li>Serviços</li></a>
      <a href="/about"><li>Sobre a coleta</li></a>
      <a href="/contact" id="contato1-btn"><li>Contato</li></a>
    </ul>

</header>