<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-UA-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/home.css" rel="stylesheet">
  <title>ColeSel</title>
</head>
<body>
  
  {% include "header_component.html" %}
  
  <main>
    <aside>
      <h2><span>Fale conosco</span></h2>

      <p>
        Informe seu nome e e-mail agora mesmo!.

      </p>
      <form action="https://formsubmit.co/matheus.pro3@outlook.com"method="POST">
        <input type="text" placeholder="Nome">
        <input type="email" placeholder="E-Mail">
        <input type="hidden" name="_captcha" value="false">
        <textarea name="message" placeholder="Escreva aqui sua mensagem"></textarea>
        <input type="submit" value="Enviar>">
        
      </form>
    </aside>

    <article>
    

    </article>
  </main>
</body>

</html>