<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-UA-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/home.css" rel="stylesheet">
  <title>ColeSel</title>
</head>
<body>
  
    {% include "header_component.html" %}
    <section id="apresentation">

        <div class="card-image">
          <img src="/static/images/recicle.png" alt="imagen relacionada a reciclagem"> </img>
        </div>
      
        <div class="card">
          <div class="card-title">
            <h1>Quem Somos</h1>
          </div>
      
          <div class="card-description">
            <strong>Cole Sel</strong> é um software gratuito focado em reciclagem domiciliar, aprenda com a gente a contribuir para um futuro mais sustentável.
          </div>
        </div>
      
    </section>
    

    <section id="cadastro">
        <h2>Cadastre-se e comece</h2>
        <a href="#cadastro" class="cadastre-se-btn">Cadastre-se</a>
    </section>

</body>

</html>