<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-UA-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/style3.css" rel="stylesheet">
  <title>ColeSel</title>
</head>

<body>
  <header>
    <div id="title">
      <h1>Cole</h1>
      <h1>Sel</h1>
    </div>

    <ul>
      <a href="/">
        <li>Início</li>
      </a>
      <a href="services">
        <li>Serviços</li>
      </a>
      <a href="about">
        <li>Sobre a coleta</li>
      </a>
      <a href="#" id="contato1-btn">
        <li>Contato</li>
      </a>
    </ul>

  </header>

  <main>
    <aside>
      <a>Realizar o atendimento aos chamados, para realizar a prestação de serviço de coleta seletiva.</a>
    </aside>

  </main>
</body>

</html>