* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(140, 184, 154);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

/*  apresentacao */
#apresentation {
    display: flex;
    width: 100%;
    background-color: white;
    color: black;
    padding: 20px;
}

.card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image > img {
    width: 300px;
}

.card {
    display: flex;
    align-items: center;
    padding: 54px;
}

.card .card-title {
    font-size: 2.04545em;
    color: #4D4D4D;
}

.card .card-title > h1 {
    margin: 0;
}

/* ------------  cadastro ------------ */

#cadastro{
    margin-top: 20px;
    padding: 20px;
    background: white;
}

.cadastre-se-btn {
    background-color: #000; /* Preto */
    color: white; /* Texto branco */
    padding: 15px 30px; /* Espaçamento */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor */
    border: none; /* Remove bordas */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição de cor */
}

.cadastre-se-btn:hover {
    background-color: #444; /* Cor ao passar o mouse */
}

@media screen and (max-width: 500px) {
    #apresentation {
        flex-direction: column;
        justify-content: center;
    }

}