body {
    background-color: rgb(140, 184, 154);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

/*  apresentacao */
#apresentation {
    display: flex;
    width: 100%;
    background-color: white;
    color: black;
}

.card-image {
    width: 300px;
    
}

.card-image > img {
    width: 100%;
    height: 100%;
}

.card .card-title {
    font-size: 2rem;
    color: #4D4D4D;
    
}

/* cadastro */

.cadastre-se-btn {
    background-color: #000; /* Preto */
    color: white; /* Texto branco */
    padding: 15px 30px; /* Espaçamento */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor */
    border: none; /* Remove bordas */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição de cor */
}

.cadastre-se-btn:hover {
    background-color: #444; /* Cor ao passar o mouse */
}
