body {
    background-color: rgb(140, 184, 154);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

#title{
    font-size: 30px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
    #title{
        flex-direction: column;
        line-height: 10px;

    }
    

    li {
        display: inline-block;
        margin: 20px;

    }
    a{
        color: white;
        font-family: comic sans ms;
    }

    a:hover{
        color: rgb(1, 70, 7);
        transition: 0.3s all;
    }

    #contato1-btn{
        border: 2px solid rgb(71, 138, 101);
        padding: 10px;
        border-radius: 15px;
    }

    #contato1-btn:hover{
        background-color: rgb(71, 138, 101);
        color: white;
    }

    h1 {
        font-weight: 10px;
    }

    
    main {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }
    

    h2 {
        width: 50%;
        height: 50%;
    }

    span {
        color: rgb(70, 179, 85);
    }

    p {
        font-size: 25px;
        line-height: 20px;
        max-width: 500px;
        font-family: poppislight;
    }
    form{
            display: flex;
            flex-direction: column;
            width: 70%;
    }

    form [type="submit"]{
        height: 50px;
        width: 50%;
        background-color: rgb(118, 157, 240);
        color: white;
        font-weight: bold;

    }
    form [type="submit"]:hover{
        cursor: pointer;
    }


    input{
        margin-top: 20px;  
        height: 20px;
        padding: 15px;
        border-radius: 20px;
        border: nome;
        font-size: 15px;
        }
